<div class="ui segment">
  <i class="big arrow left icon" (click)="goToGallery()"></i>
</div>

<div class="ui card" *ngIf="dataUser">
  <div class="content">
    <div class="right floated meta">14h</div>
    <img src={{baseUrl}}{{dataUser.filename}} (click)="goToOtherUser()" class="ui mini image img-circle"> {{dataUser.profileName}}


    <div class="right floated meta" *ngIf="checkOwner">
      <i class="big remove icon" (click)="deletePhoto()"></i>
    </div>
  </div>
  <div class=" image">
    <img src="{{baseUrl}}/{{photoOwner.img}}" alt="">
  </div>
  <div class="content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
    <i class="comment icon" (click)="clickComments()"></i>
    3 comments
  </div>
  <div class="content">
    {{photoOwner.description}}
  </div>


  <div *ngIf="clickComment">

    <div class="ui list comments-contain" *ngIf="comments">
      <div *ngFor="let comment of comments.comments">
        <div class="item">
          <img class="ui avatar image" src="">
          <div class="content">
            <a class="header" (click)="goToOwner(comment.owner)">{{comment.owner}}</a>
            <div class="description">{{comment.description}}
              <a>
                <b>Pulsar user</b>
              </a> just now.</div>
          </div>
        </div>

      </div>
    </div>

  </div>



  <div class="content">
    <div class="ui large transparent icon input">

      <form class="contain-comment" #myForm="ngForm">
        <input type="text" placeholder="Add Comment..." [(ngModel)]="formComment.comment" name="comment">
        <i class="heart outline icon"></i>
        <button class="ui primary button" (click)="addComment()">Save</button>
      </form>

    </div>
  </div>
</div>