img {
    max-width:30%;
    max-height: 20%;
    max-height:auto;
    margin: 2px;
    
     
}

.contain{
    display: flex;
    position: absolute;
	flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
	justify-content: center;
	align-items: stretch;
    align-content: flex-start;
    margin: 10px;
}


