<p>
  profile works!
</p>
<div class="content-profile">
  <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" class="img-circle">
  <div class="description-user">
    <div>
      <h1>{{user.profileName}}</h1>
      <p>Hello people! my name is alex and this is my current profile, love traveling aorund the wolrd seeing our marvelous
        staffs
      </p>
    </div>
  </div>
</div>

<input type="submit" class="form-control" (click)="goGallery()" class="btn btn-success" value="goGallery">

<input type="submit" class="form-control" (click)="logOut()" class="btn btn-success" value="logout">

<input type="submit" class="form-control" (click)="me()" class="btn btn-success" value="me">