

html {
    overflow: auto;
}
h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
p{
    font-size: 25px;
    color: rgb(121, 121, 121);
    margin-bottom: 40px;    
}
a{
    font-size: 20px;
}
.icon {
    display: flex;
    align-items: center;
}
.pulsar{
    width: 45px;
    height: 45px;
    background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/1081-200.png");
    background-size: cover;
   
}
.content-profile {
    display: flex;
    margin: 20px;
    justify-content: center;
}
.description-user {
    margin-left: 50px;
}

.profile {
    right: 50px;
}

.btn-edit {
    display: flex;
    
}
.icons-bar{
    position: fixed;
    width: 100%;
}
.icons-container {
    display: flex;
    /* justify-content: space-between; */
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: rgb(60, 121, 201);  
    cursor: inherit;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
}

.img-description{
    display: flex;
    justify-content: center;
}

.header {
    position: relative;
    margin-bottom: 3px;
    width: 100%;
}


.message {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.coll{
    position: absolute;
    width: 100%;
}

.home{
    font-size: 15px;
}










.navbar {
    display: flex;
    overflow: hidden;
    margin: 0px;
    background-color: #333;  
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
  }
  
  .navbar i {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  @media screen and (min-width: 800px) {
    .navbar:not(:first-child) {display: none;}
    
  }

  img {
      width: 15%;
      height: 15%;;
  }
  
@media (max-width:800px){
    img{
      width: 15%;
    }
}


.menu {
    height: 8%;
}


  
