
.content-profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
h1 {
    font-size: 20px;
}


img {
    width: 15%;
    height: 15%;
}

.profile {
    right: 50px;
}

.btn-edit {
    display: flex;
    justify-content: space-between;
}
.icons-bar{
    position: fixed;
    width: 100%;
}
.icons-container {
    display: flex;
    justify-content: space-between;
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: rgb(60, 121, 201);  
    cursor: inherit;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
}

.img-description{
    display: flex;
    justify-content: center;
}
