<p>
  login works!
</p>

<form #myForm="ngForm" novalidate>
  <p> Username
    <input type="text" class="form-control" name="username" [(ngModel)]="user.username" #myUsername="ngModel" required />
  </p>
  <div *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)">
    <p [hidden]="!myUsername.errors.minlength">

      Username must be at least 6 characters long.
    </p>

  </div>

  <p> Password
    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #myPassword="ngModel" required />
  </p>
  <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
    <p [hidden]="!myPassword.errors.required">
      Password required!!
    </p>
  </div>
  <input type="submit" class="form-control" (click)="login()" class="btn btn-success" value="login">
</form>
<!--  provicional -->
<br>
<div>
  <input type="submit" class="form-control" (click)="back()" class="btn btn-success" value="back">
</div>