img {
    width: 60%;
    height: 60%;
}
.icons-container {
    display: flex;
    justify-content: space-between;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 15vw;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    text-align: center;
    border-top: 1px solid #888787;
    background-color:white;
}
.message {
    display: flex;
    width: 100%;
    justify-content: space-between;
}