p{
    color: rgb(80, 80, 80);
}
img {
    width: 60%;
    height: 60%;
    margin-bottom: 30px;
}
ul {
    margin-bottom: 100px;
}
.icons-container {
    display: flex;
    justify-content: space-between;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    text-align: center;
    border-top: 1px solid #888787;
    background-color:white;
}
.message {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.contain-photos {
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	align-items: center;
	align-content: stretch;
}
.description {
    width: 100%;
    height: 50px;
}

.photos {
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    
}

.home {
    font-size: 15px;
}








.navbar {
    display: flex;
    overflow: hidden;
    margin: 0px;
    background-color: #333;  
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
  }
  
  .navbar i {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  @media screen and (min-width: 800px) {
    .navbar:not(:first-child) {display: none;}
    
  }

  .icon {
    display: flex;
    align-items: center;
}
.pulsar{
    width: 45px;
    height: 45px;
    background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/1081-200.png");
    background-size: cover;
   
}
.menu {
    height: 8%;
}
a{
    font-size: 20px;
}