<div class="ui secondary pointing menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item" (click)="logOut()">
      Logout
    </a>
  </div>
</div>
<div class="ui segment">
  <p></p>
</div>


<div *ngFor="let photo of photos">
  <ul>
    <img src="{{photo.img}}" alt="">
    <p>{{photo.description}}</p>
  </ul>
</div>
<!-- -///////////////////// icons-bar ///////////////////////////////////// -->
<div class="icons-bar">

  <div class="ui bottom attached warning message">
    <div class="icons-container">

      <div class="user-icon">
        <i class="user icon" [routerLink]="['/user', user.username]" routerLinkActive="active"></i>
      </div>
      <div class="square-icon">
        <i class="add square icon"></i>
      </div>
      <div class="list-layout">
        <i class="list layout icon"></i>
      </div>

    </div>
  </div>
</div>