<div class="ui secondary pointing menu">
  <a class="item home">Home</a>
  <a class="item home">Messages</a>
  <a class="item home">Friends</a>
  <div class="right menu">
    <a class="ui item home" (click)="logOut()">Logout</a>
  </div>
</div>

<div class="contain-photos" *ngIf="photo">
  <img class="photos" *ngFor="let photo of photos" src="{{baseUrl}}/{{photo.img}}" (click)="photoOwner(photo)" alt="">
  <!-- <div class="description">
    <p>{{photo.description}}</p>
  </div> -->
</div>



<!-- .....................upload file........................... -->



<!-- -///////////////////// icons-bar ///////////////////////////////////// -->
<div class="footer">
  <div class="ui bottom attached warning message">
    <!-- <div class="icons-container"> -->

    <div class="user-icon">
      <i class="big user icon" (click)="goToProfile()"></i>
    </div>
    <div class="square-icon">
      <i class="big add square icon"></i>
    </div>
    <div class="list-layout">
      <i class="big list layout icon" routerLink="/gallery" routerLinkActive="active"></i>
    </div>
  </div>
</div>